<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flow.client.dao.ClientUserMapper">


    <resultMap id="BaseResultMap" type="com.flow.bgd.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>


    <select id="selectFriendsByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from user where user_id in (select friend_id from user_friend where user_id =#{userId,jdbcType=VARCHAR})
    </select>

</mapper>